<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<form method="post" th:object="${user}">
    <div class="form-group">
        <label th:for="firstName">First Name:</label>
        <input th:field="*{firstName}" name="firstName"/>
        <span th:errors="*{firstName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="lastName">Last Name:</label>
        <input th:field="*{lastName}" name="lastName"/>
        <span th:errors="*{lastName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Email Address:</label>
        <input type="email" th:field="*{email}" name="email"/>
        <span th:errors="*{email}" class="error"></span>
        <span th:text="${emailError}" class="error"></span>
    </div>
    <div th:if="${activeSession} and ${activeSession.user.role.intValue < 1}" class="form-group">
        <label th:for="role">Role:</label>
        <select th:field="*{role}">
            <option th:each="role : ${roles}" th:text="${role.name}" th:value="${role}"></option>
        </select>
        <span th:errors="*{role}" class="error"></span>
    </div>
    <input type="submit" value="Modify User" />
</form>
</body>
</html>