<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div>
    <h3 th:text="${date.getMonth()}"></h3>
    <p th:text="${date.getYear()}"></p>
    <p th:text="${date.getMonth().length(false)}"></p>
    <table>
        <tr>
            <th>S</th>
            <th>M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
        </tr>
        <tr th:if="${date.minusDays(date.getDayOfMonth() - 1).getDayOfWeek().toString() == 'FRIDAY'}">
            <td><a href="/"></a></td>
            <td><a href="/"></a></td>
            <td><a href="/"></a></td>
            <td><a href="/" th:if="${date.minusDays(date.getDayOfMonth() - 1).getDayOfWeek().toString() == 'WEDNESDAY'}">1</a></td>
            <td><a href="/"></a></td>
            <td><a href="/">1</a></td>
            <td><a href="/">2</a></td>
        </tr>
        <tr>
            <td><a>3</a></td>
            <td><a>4</a></td>
            <td><a>5</a></td>
            <td><a>6</a></td>
            <td><a>7</a></td>
            <td><a>8</a></td>
            <td><a>9</a></td>
        </tr>
        <tr>
            <td><a>10</a></td>
            <td><a>11</a></td>
            <td><a>12</a></td>
            <td><a>13</a></td>
            <td><a>14</a></td>
            <td><a>15</a></td>
            <td><a>16</a></td>
        </tr>
        <tr>
            <td><a>17</a></td>
            <td><a>18</a></td>
            <td><a>19</a></td>
            <td><a>20</a></td>
            <td><a>21</a></td>
            <td><a>22</a></td>
            <td><a>23</a></td>
        </tr>
        <tr>
            <td><a>24</a></td>
            <td><a>25</a></td>
            <td><a>26</a></td>
            <td><a>27</a></td>
            <td><a>28</a></td>
            <td><a>29</a></td>
            <td><a>30</a></td>
        </tr>
    </table>
</div>
</body>
</html>