<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<a th:if="${activeSession.user.id == viewedPosting.user.id}" th:text="Edit" th:href="@{'/posting/modify-posting/' + ${viewedPosting.id}}"></a>
<div class="image-container" th:if="${imageURLs}">
    <ul class="thumbnail-list">
        <li th:each="image : ${imageURLs}">
            <img class="posting-thumbnail" th:src="@{${image}}" />
        </li>
    </ul>
</div>
<ul th:if="${amenities}">
    <div th:each="amenity : ${amenities}">
        <li th:text="${amenity.name}"></li>
    </div>
</ul>
<h1 th:text="${viewedPosting.title}"></h1>
<p th:text="${viewedPosting.description}"></p>
</body>
</html>