<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<a th:if="${activeSession.user.id == viewedPosting.user.id}" th:text="Edit" th:href="@{'/posting/modify-posting/' + ${viewedPosting.id}}"></a>
<div th:if="${imageURLs}">
    <div th:each="image : ${imageURLs}">
        <img class="posting-image" th:src="@{${image}}" />
    </div>
</div>
<h1 th:text="${viewedPosting.title}"></h1>
<p th:text="${viewedPosting.description}"></p>
</body>
</html>