<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8"/>
    <title th:text="${title}">Healthcare Travelers</title>

</head>
<body>
<div th:fragment="navigation">
    <div th:fragment="navigation" id="nav-holder">
    <ul id="nav-menu">
        <li><a href="/" class="nav-link" id="home-link">&#8962</a></li>
        <li th:unless="${activeSession}"><a href="/login" class="nav-link">Login</a></li>
        <li th:if="${activeSession}"><a th:href="@{'/profile/' + ${activeSession.user.id}}" class="nav-link">Profile</a></li>
        <li th:if="${activeSession}"><a href="/signout" class="nav-link">Signout</a></li>
        <li th:if="${activeSession} and ${activeSession.user.role.intValue < 2}"><a href="/admin" class="nav-link">Admin</a></li>
        <li th:unless="${activeSession}"><a href="/signup" class="nav-link">Signup</a></li>
    </ul>
    </div>
    <div id="nav-padding"></div>
</div>
</body>
</html>