<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8"/>
    <title th:text="${title}">Healthcare Travelers</title>

</head>
<body>
<div th:fragment="navigation" id="nav-holder">
<nav id="nav-menu">
    <a href="/" class="nav-button" id="home-link">Home</a>
    <a th:unless="${activeSession}" href="/login" class="nav-button">Login</a>
    <a th:if="${activeSession}" th:href="@{'/profile/' + ${activeSession.user.id}}" class="nav-button">Profile</a>
    <a th:if="${activeSession}" href="/signout" class="nav-button">Signout</a>
    <a th:if="${activeSession} and ${activeSession.user.role.intValue < 2}" href="/admin" class="nav-button">Admin</a>
    <a th:unless="${activeSession}" href="/signup" class="nav-button">Signup</a>
</nav>
</div>
</body>
</html>