<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8"/>
    <title th:text="${title}">Healthcare Travelers</title>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/">Home</a> |
    <a th:unless="${activeSession}" href="/login">Login</a>
    <a th:if="${activeSession}" th:href="@{'/profile/' + ${activeSession.user.id}}">Profile</a>
    <a th:if="${activeSession}" href="/signout">Signout</a>
    <a th:if="${activeSession} and ${activeSession.user.role < 2}" href="/admin">Admin</a>
    <a th:unless="${activeSession}" href="/signup">Signup</a>
</nav>

</body>
</html>