<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<span th:text="${redirectMessage}" class="message"></span>
<h1 th:text="${title}">Healthcare Professionals</h1>

<h2>Start your housing search here!</h2>
<div id="map-input-container"><input id="map-input" class="controls" type="text" placeholder="Input address of employer..."></div>

<div id="map-container">
    <div id="map"></div>
    <script th:inline="javascript">
    /*<![CDATA[*/
      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 38, lng: -97},
          zoom: 4,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('map-input');
        var searchBox = new google.maps.places.SearchBox(input);
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));
            map.setCenter(place.geometry.location);
            map.setZoom(10);
            geocoder = new google.maps.Geocoder();
            pinAddresses(geocoder, map);
          });
          function pinAddresses(geocoder, map) {
                var addresses = [];
                /*[# th:each="posting : ${postingList}"]*/
                    geocoder.geocode({'address': [[${posting.address}]]}, function(results, status) {
                        if (status === 'OK') {
                            var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location,
                            title: [[${posting.title}]],
                            url: '/posting/[[${posting.id}]]'
                            });
                            google.maps.event.addListener(marker, 'click', function() {
                                window.location.href = this.url;
                            });
                        } else {
                            alert('Geocode was not successful for the following reason: ' + status);
                        }
                    });
                /*[/]*/
                var i;
                for (i = 0; i < addresses.length; i++){
                    geocoder.geocode({'address': addresses[i]}, function(results, status) {
                        if (status === 'OK') {
                            var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                            });
                        } else {
                            alert('Geocode was not successful for the following reason: ' + status);
                        }
                    });
                }
          }

        });
      }
    /*]]>*/
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLYHHm_3-YHbKJHeM0FavvvVUYaQOBl6I&libraries=places&callback=initAutocomplete"
            async defer></script>
</div>
</body>
</html>