<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
    <form method="post">
        <label th:for="email">Email:</label>
        <input field="email" name="email" type="email"/>
        <label th:for="password">Password:</label>
        <input field="password" name="password" type="password"/>
        <input type="submit" value="Login" />
    </form>
<span th:text="${loginMessage}" class="message"></span>
</body>
</html>