<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<h1 th:unless="${ownProfile}" th:text="${'Welcome to ' + viewedUser.get().getFirstName() + ' ' + viewedUser.get().getLastName() + '''s Profile!'}"></h1>
<h1 th:if="${ownProfile}" th:text="${'Welcome to your profile!'}"></h1>
<div th:if="${ownProfile}">
    <a href="/posting/new-posting">New Posting</a>
</div>
<div th:if="${viewedUserPostings}">
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="posting : ${viewedUserPostings}">
                <td ><a th:text="${posting.title}" th:href="@{'/posting/' + ${posting.id}}"></a></td>
                <td th:text="${posting.description}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>