<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<form method="post" th:object="${user}" class="block-form">
    <div class="form-group">
        <label th:for="firstName">First Name:</label>
        <input th:field="*{firstName}" name="firstName"/>
        <span th:errors="*{firstName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="lastName">Last Name:</label>
        <input th:field="*{lastName}" name="lastName"/>
        <span th:errors="*{lastName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Email Address:</label>
        <input type="email" th:field="*{email}" name="email"/>
        <span th:errors="*{email}" class="error"></span>
        <span th:text="${emailError}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Password:</label>
        <input field="password" name="password" type="password"/>
    </div>
    <div class="form-group">
        <label th:for="password2">Re-Enter Password:</label>
        <input field="password2" name="password2" type="password"/>
        <span th:text="${passError}" class="error"></span>
    </div>
    <div class="submit-container">
        <input class="submit-button" type="submit" value="Signup" />
    </div>
</form>
</body>
</html>